.app
  border: 2px solid black
  position: absolute
  top: 2rem
  left: 2rem
  bottom: 2rem
  right: 2rem

.grid-box
  position: absolute
  background: hsla(10, 20%, 20%, .5)
  border: 1px solid white
  &[data-box-in-path="true"]
    background-color: yellowgreen

img
  pointer-events: none